<div class="drink">
  <h2 class="name"><%=drink.name%></h2>
  <div class="image">
    <img
      src="<%=drink.imgPath%>"
      alt="<%=drink.name%>"
      width="<%=drink.width%>"
      height="<%=drink.height%>"
    />
  </div>
  <div class="baseAlcohol">
    <h3>Alcohol ingredients</h3>
    <ul>
      <% if (drink.baseAlcohol[0].name) { %> <% drink.baseAlcohol.forEach(alcohol => { %>
      <li><%=alcohol.name%> | <%=alcohol.measure%></li>
      <% }) %> <% } %>
    </ul>
  </div>
  <div class="ingredients">
    <h3>Regular ingredients</h3>
    <ul>
      <% if (drink.ingredients[0].name) { %> <% drink.ingredients.forEach(ingredient => { %>
      <li><%=ingredient.name%> | <%=ingredient.measure%></li>
      <% }) %> <% } %>
    </ul>
  </div>
  <div class="glassType">Glass: <%=drink.glassType%></div>
  <div class="recipe"><p><%=drink.recipe%></p></div>
</div>
