<div class="single-page-container">
  <h1 class="single-title">And Tonight's Drink is...</h1>
  <div class="single-drink">
    <div class="single-image">
      <img
        src="<%=drink.imgPath%>"
        alt="<%=drink.name%>"
        width="<%=drink.width%>"
        height="<%=drink.height%>"
      />
    </div>
    <h2 class="single-name"><%=drink.name%></h2>
    <div class="column">
      <div class="baseAlcohol">
        <h3>Alcohol:</h3>

        <ul>
          <% for( let i = 0; i < drink.baseAlcohol.length; i++ ) { %>
          <li><%=drink.baseAlcohol[i].name%> | <%=drink.baseAlcohol[i].measure%></li>
          <% } %>
        </ul>
      </div>
      <div class="ingredients">
        <h3>Ingredients:</h3>
        <ul>
          <% for( let i = 0; i < drink.ingredients.length; i++ ) { %>
          <li><%=drink.ingredients[i].name%> | <%=drink.ingredients[i].measure%></li>
          <% } %>
        </ul>
      </div>
      <div class="glassType">
        <h3>Glass Type:</h3> 
        <ul>
          <li><%=drink.glassType%></li>
        </ul>
      </div>
      <div class="recipe"><p>-<%=drink.recipe%></p></div>
    </div>
  </div>
</div>
